[package]
name = "app"
version = "1.19.2"
description = "Record and review LoL games"
authors = ["FX"]
license = "GPL-2.0"
repository = "github.com/FFFFFFFXXXXXXX/league_record"
edition = "2021"
default-run = "app"
build = "build.rs"

[dependencies]
# dependencies for main app and UI
tauri = { version = "1.5.4", features = [
    "path-all",
    "protocol-asset",
    "shell-open",
    "system-tray",
    "window-set-fullscreen",
    "window-set-title",
] }
tauri-plugin-autostart = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-single-instance = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
anyhow = "1.0.79"
log = "0.4.20"
serde = "1.0.196"
serde_json = "1.0.113"
serde_repr = "0.1.18"
reqwest = { version = "0.11.24", features = ["blocking"] }
notify = { version = "6.1.1", default-features = false, features = ["macos_kqueue"] }
# dependencies for the recorder module
libobs-recorder = { git = "https://github.com/FFFFFFFXXXXXXX/libobs-recorder.git", features = ["specta"] }
riot_local_auth = { git = "https://github.com/FFFFFFFXXXXXXX/riot_local_auth" }
shaco = { git = "https://github.com/FFFFFFFXXXXXXX/Shaco" }
tokio = { version = "1.36.0", features = ["fs", "io-util", "rt-multi-thread", "macros"] }
tokio-util = { version = "0.7.10", features = ["io"] }
futures-util = "0.3.30"
chrono = "0.4.33"

[target.'cfg(target_os = "windows")'.dependencies]
windows = { version = "0.52.0", features = ["Win32_Foundation", "Win32_UI_WindowsAndMessaging", "Win32_UI_HiDpi"] }
[target.'cfg(target_os = "linux")'.dependencies]
# todo
[target.'cfg(target_os = "macos")'.dependencies]
# todo

[dev-dependencies]
specta = { version = "1.0.5", features = ["export"] }
tauri-specta = { version = "1.0.2", features = ["typescript"] }

[build-dependencies]
tauri-build = { version = "1.5.1" }
libobs-recorder = { git = "https://github.com/FFFFFFFXXXXXXX/libobs-recorder.git", artifact = "bin:extprocess_recorder" }
build-helper = { git = "https://github.com/FFFFFFFXXXXXXX/libobs-recorder.git" }

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]

# [profile.release]
# opt-level = 3
# strip = "debuginfo"
# debug = false
# debug-assertions = false
# lto = "fat"
# panic = "abort"
