/* hide videojs player outline when focused */
video {
    outline: none !important;
}

.vjs-modal-dialog-content {
    background-color: black;
}

#video_player {
    font-size: 14px;
}

#main {
    overflow: auto;
}

#description {
    color: lightgray;
    font-size: 1.35rem;
    margin: 5px 0;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

#description-left {
    flex: 0.5 1 auto;
    text-align: center;
    padding-top: 15px;
}

#description-center {
    flex: 1 1 auto;
    text-align: center;
    padding-top: 15px;
}

#marker-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.summoner-name {
    font-size: 24px;
    color: #947f51;
}

.win {
    font-size: 30px;
    color: #0acbe6;
}

.loss {
    font-size: 30px;
    color: #ff2345;
}

.remake {
    font-size: 30px;
    color: #a09b8c;
}

.marker-list {
    flex: 0.1 0 auto;
}

/* EVENT MARKERS */
.vjs-marker.kill {
    background-color: lawngreen !important;
    z-index: 3;
}

.vjs-marker.assist {
    background-color: green !important;
    z-index: 2;
}

.vjs-marker.death {
    background-color: red !important;
    z-index: 5;
}

.vjs-marker.turret {
    background-color: brown !important;
    z-index: 4;
}

.vjs-marker.inhibitor {
    background-color: mediumblue !important;
    z-index: 4;
}

.vjs-marker.infernal-dragon,
.vjs-marker.ocean-dragon,
.vjs-marker.mountain-dragon,
.vjs-marker.cloud-dragon,
.vjs-marker.hextech-dragon,
.vjs-marker.chemtech-dragon,
.vjs-marker.elder-dragon,
.vjs-marker.dragon {
    background-color: darkgoldenrod !important;
    z-index: 5;
}

.vjs-marker.voidgrub {
    background-color: deeppink !important;
    z-index: 4;
}

.vjs-marker.herald {
    background-color: magenta !important;
    z-index: 4;
}

.vjs-marker.atakhan {
    background-color: darkred !important;
    z-index: 6;
}

.vjs-marker.baron {
    background-color: darkmagenta !important;
    z-index: 6;
}

.vjs-marker.highlight {
    background-color: mediumturquoise !important;
    z-index: 7;
}

/* CHECKBOX LABELS */
#kill {
    accent-color: lawngreen;
}

#assist {
    accent-color: green;
}

#death {
    accent-color: red;
}

#turret {
    accent-color: brown;
}

#inhibitor {
    accent-color: mediumblue;
}

#dragon {
    accent-color: darkgoldenrod;
}

#herald {
    accent-color: magenta;
}

#atakhan {
    accent-color: darkred;
}

#baron {
    accent-color: darkmagenta;
}
